body {
    font-family: 'Roboto', sans-serif;
    background-color: #DBE9EE;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #4A6FA5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.task-table th, .task-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.task-table th {
    background-color: #f2f2f2;
}

.task-actions button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.task-actions button:hover {
    background-color: #f2f2f2;
}

.task-actions button.delete-btn {
    color: #ff0000;
    border: none;
    background: none;
}

.task-actions button.delete-btn:hover {
    color: #cc0000;
}

.task-actions button.edit-btn {
    color: #007bff;
    border: none;
    background: none;
}

.task-actions button.edit-btn:hover {
    color: #0056b3;
}

